[Unit]
Description=DVI Sidecar Web Interface
After=network.target bridge.service
Wants=network-online.target

[Service]
ExecStart=/home/<user>/dvi-bridge-standalone/venv/bin/python /home/<user>/dvi-bridge-standalone/sidecar/webbridge.py
WorkingDirectory=/home/<user>/dvi-bridge-standalone/sidecar
Restart=always
EnvironmentFile=/home/<user>/dvi-bridge-standalone/.env

[Install]
WantedBy=multi-user.target
