# MQTT broker settings
MQTT_HOST=192.168.x.xxx
MQTT_PORT=1883

# Optional: only set these if your MQTT broker requires authentication.
# If left empty, the bridge will connect without username/password.
MQTT_USER=
MQTT_PASS=

# Optional: replace with your specific model eg. LV7 LV9 LV12 LV16 - This is used to set correct topics and units ( default is LVx) will be used in future updates
HEATPUMP_MODEL=LV 